<p>
  account works!
</p>
<div class="section">
  <h4>Showing Account:</h4>
  <div>
    {{account | json}}
  </div> 
  <!-- <table>
    <tr>
      <th>ID</th><td align="right">{{account.ID}}</td>
    </tr>
    <tr>
      <th>Name</th><td>{{account.Name}}</td>
    </tr>
    <tr>
      <th>Expense</th><td><span *ngIf="account?.Expense">✔</span></td>
    </tr>
    <tr>
      <th>Balance</th><td align="right">{{account.Balance}}</td>
    </tr>
    <tr>
      <th>Created</th><td>{{account.Created}}</td>
    </tr>
  </table> -->

</div>